<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Eventure</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/elegant_font/elegant_font.min.css" rel="stylesheet">
    <link href="css/fontello/css/fontello.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/pop_up.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="css/skins/square/grey.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <% if(success === 0){ %>
        <script>
            alert("Error occurred... Try again!");
        </script>
    <% } else if(success === 1){ %>
        <script>
            alert("Details Updated Successfully!");
        </script>        
    <% } %>
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave" id="status">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div><!-- End Preload -->

    <!-- Header ================================================== -->
    <%- include("headerAdmin") %>
    <!-- End Header =============================================== -->

    <!-- SubHeader =============================================== -->
    <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/event-1.jpg" data-natural-width="1400" data-natural-height="350">
        <div id="subheader">
            <div id="sub_content">
                <h1>Admin Account</h1>
                <p></p>
            </div><!-- End sub_content -->
        </div><!-- End subheader -->
    </section><!-- End section -->
    <!-- End SubHeader ============================================ -->
<!-- Content ================================================== -->

<div class="container margin_60_35">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Customer Orders</h2>
    </div>
    </div><!-- End row -->
</div><!-- End container -->

<div class="white_bg">
    <% if(result.length === 0){ %>
        <div class="table_empty">No customer orders yet.</div>
    <% } %>
    <% if(result.length > 0){ %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Address</th>
            <th scope="col">Order Price</th>
            <th scope="col">Unique ID</th>
            <th scope="col">Order Date</th>
          </tr>
        </thead>
        <tbody>
        <% for (let [count, item] of result.entries()) { %>
          <tr>
            <th scope="row"><%= count+1 %></th>
            <td><%= item.fname %></td>
            <td><%= item.lname %></td>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
            <td><%= item.order_address %></td>
            <td><%= item.city %></td>
            <td><%= item.event_name %></td>
            <td><%= item.event_address %></td>
            <td><%= item.price %></td>
            <td><%= item.unique_id %></td>
            <td><%= item.datetime %></td>
          </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>
</div><!-- End white_bg -->
<!-- End Content =============================================== -->
<!-- Footer ================================================== -->
<%- include("footer") %>
<!-- End Footer =============================================== -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/common_scripts_min.js"></script>
<script src="js/functions.js"></script>
</body>
</html>
